/* navbar 전체 배경 */
.navbar {
  background-color: #3f528c;
  padding: 12px 0;
}

/* 가운데 정렬된 컨텐츠 박스 */
.navbar-content {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;

}

/* nav 리스트 스타일 */
.nav-list {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* nav 리스트 텍스트 */
.nav-list li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.nav-list li a:hover {
  text-decoration: underline;
}

.nav-list{
  margin-left: 20px;
}

/* 로그인/로그아웃 버튼 우측 */
.nav-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logout-button {
  background-color: #ff6666;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 30px;
}

.logout-button:hover {
  background-color: #ff4444;
}
