.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.signup-box {
  width: 66%;
  max-width: 700px;
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  color: #3F528C;
  margin-bottom: 50px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.signup-group {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 400px;
}

.signup-group label {
  width: 100px;
  font-size: 14px;
  text-align: left;
}

.signup-group input {
  flex: 1;
  padding: 8px;
  background-color: #A0C4F2;
  border: 1px solid #b5c7dd;
  border-radius: 5px;
}

.check-button {
  background-color: #3F528C;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 7px 7px;
}

.signup-button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.signup-button,
.cancel-button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-button {
  background-color: #3F528C;
  color: white;
}

.cancel-button {
  background-color: #ccc;
  color: #333;
}

.cancel-button:hover {
  background-color: #aaa;
}

.error-message {
  color: red;
  font-size: 14px;
}
