.navbar {
  background-color: #3f528c;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  /* margin-top: 50px; */
}

/* 너비 제한 박스 */
.navbar-content {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

/* 로고 링크 */
.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

/* 메뉴 리스트 */
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-list li a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-list li a:hover {
  color: #A0C4F2;
}

.nav-list li button {
  background-color: rgb(198, 0, 0);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.nav-list li button:hover {
  background-color: #A0C4F2;
  color: black;
}
